<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="../fragments/style.css">
</head>
<body>
	
	<div class="wrapper">

		<nav>
			<ul>
				<li><a class="active" href="../index.html">Home</a></li>
				<li><a href="../activities.html">Activities</a></li>
				<li style="float: right;"><a href="admin.html">Admin</a></li>
			</ul>
		</nav>
		
		<div class="content">
			<h1>Admin</h1>

			<a href="create.html">Opret ny aktivitet</a><br><br><br>
			
			<table class="activities">
				<tr>
					<th>Aktivitet</th>
					<th>Pris</th>
					<th>Varighed</th>
					<th>Bookning</th>
				</tr>
				<tr>
					<td><a href="../activity.html">Go-Kart</a></td>
					<td>40 kr;-</td>
					<td>2 Timer</td>
					<td><a href="#">Slet</a><a href="edit.html">Rediger</a></td>
				</tr>
				<tr>
					<td>Go-kart</td>
					<td>40 kr;-</td>
					<td>2 Timer</td>
					<td><a href="#">Slet</a><a href="edit.html">Rediger</a></td>
				</tr>
				<tr>
					<td>Go-kart</td>
					<td>40 kr;-</td>
					<td>2 Timer</td>
					<td><a href="#">Slet</a><a href="edit.html">Rediger</a></td>
				</tr>
				<tr>
					<td>Go-kart</td>
					<td>40 kr;-</td>
					<td>2 Timer</td>
					<td><a href="#">Slet</a><a href="edit.html">Rediger</a></td>
				</tr>
			</table>
		</div>

	</div>
	
</body>
</html>