<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
</head>
<body>
	
	<div class="wrapper">

		<div th:include="fragments/pageStyle :: nav_top"></div>
		
		<div class="content">
			<h1>Admin</h1>

			<a href="/admin/create">Opret ny aktivitet</a><br><br><br>
			
			<table class="activities">
				<tr>
					<th>Aktivitet</th>
					<th>Pris</th>
					<th>Varighed</th>
					<th>Bookning</th>
				</tr>
				<tr th:each="activity : ${activities}">
					<td th:text="${activity.name}"></td>
					<td th:text="${activity.price}"></td>
					<td th:text="${activity.duration}"></td>
					<td><a href="#">Slet</a><a th:href="${'/admin/edit/' + activity.id}">Rediger</a></td>
				</tr>
			</table>
		</div>

	</div>
	
</body>
<style th:include="fragments/pageStyle :: style"></style>

</html>