<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
</head>
<body>
	<!--- navn varighed minalder minhøjde pris-->
	<div class="wrapper">

		<div th:include="fragments/adminStyle :: nav_top"></div>


		<div class="content">
			<h1>Opret Aktivitet</h1>
			
			<form id="form" th:action="@{/admin/create}" method="POST">
				<p>Aktivitet Navn</p>
				<input type="text" name="name" required>

				<p>Varighed</p>
				<input type="text" name="duration" required>

				<p>Min. Alder</p>
				<input type="number" name="minAge" required>

				<p>Min. Højde</p>
				<input type="number" name="minHeight" required>

				<p>Pris</p>
				<input type="number" name="price" required>

				<br><br>
				<input type="submit" value="Opret">
			</form> 

		</div>

	</div>
	
</body>
<style th:include="fragments/adminStyle :: style"></style>
</html>