<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="../fragments/style.css">
</head>
<body>
	<!--- navn varighed minalder minhøjde pris-->
	<div class="wrapper">

		<nav>
			<ul>
				<li><a class="active" href="../index.html">Home</a></li>
				<li><a href="../activities.html">Activities</a></li>
				<li style="float: right;"><a href="admin.html">Admin</a></li>
			</ul>
		</nav>
		
		<div class="content">
			<h1>Opret Aktivitet</h1>
			
			<form id="form" th:action="@{/admin/create}" method="POST">
				<p>Aktivitet Navn</p>
				<input type="text" name="name"> 

				<p>Varighed</p>
				<input type="text" name="duration">

				<p>Min. Alder</p>
				<input type="text" name="minAge">

				<p>Min. Højde</p>
				<input type="text" name="minHeight">

				<p>Pris</p>
				<input type="text" name="price">

				<br><br>
				<input type="submit" value="Opret">
			</form> 

		</div>

	</div>
	
</body>
</html>