<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Slet produkt</title>
</head>
<body>

<div class="wrapper">

    <div th:include="fragments/adminStyle :: nav_top"></div>
    <div class="content">

    <h1>Slet Produkt</h1>

    <form id="form" th:object="${activity}" th:action="@{/admin/delete/} + ${id}" method="POST">
        <div class="grid-container" style="grid-template-columns: auto auto">
            <label>ID: </label>
            <label th:text="${activity.id}"></label>
            <br>
            <label>Navn: </label>
            <label th:text="${activity.name}"></label>
            <br>
            <label>Varighed: </label>
            <label th:text="${activity.duration}" ></label>
            <br>
            <label>Minimumsalder: </label>
            <label th:text="${activity.minAge}"></label>
            <br>
            <label>Minimumshøjde: </label>
            <label th:text="${activity.minHeightCm}"></label>
            <br>
            <label>Pris: </label>
            <label th:text="${'kr. ' + activity.price}"></label>
        </div>
        <hr>
        <input type="submit" style="width: 10%;font-size: 20px;" value="Slet"/>
    </form>
</div>
</div>
</body>

<style th:include="fragments/adminStyle :: style"></style>
</html>