<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="../fragments/style.css">
</head>
<body>
	<!--- navn varighed minalder minhøjde pris-->
	<div class="wrapper">

		<div th:include="fragments/adminStyle :: nav_top"></div>
		
		<div class="content">
			<h1>Rediger Aktivitet</h1>
			
			<form action="">
				<p>Aktivitet Navn</p>
				<input type="text" name="name" value="value"> 

				<p>Varighed</p>
				<input type="text" name="duration" value="value">

				<p>Min. Alder</p>
				<input type="text" name="minAge" value="value">

				<p>Min. Højde</p>
				<input type="text" name="minHeight" value="value">

				<p>Pris</p>
				<input type="text" name="price" value="value">

				<br><br>
				<input type="submit" value="Rediger">
			</form> 

		</div>

	</div>
	
</body>
<style th:include="fragments/adminStyle :: style"></style>
</html>