<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="../fragments/style.css">
</head>
<body>
	<!--- navn varighed minalder minhøjde pris-->
	<div class="wrapper">

		<div th:include="fragments/adminStyle :: nav_top"></div>
		
		<div class="content">
			<h1>Rediger Aktivitet</h1>
			
			<form th:object="${activity}" th:action="@{/admin/editActivity/} + ${id}" method="POST">
				<p>Aktivitet Navn</p>
				<input type="text" name="name" th:value="${activity.name}" th:field="*{name}">

				<p>Varighed</p>
				<input type="text" name="duration" value="value" th:value="${activity.duration}" th:field="*{duration}">

				<p>Min. Alder</p>
				<input type="text" name="minAge" th:value="${activity.minAge}" th:field="*{minAge}">

				<p>Min. Højde</p>
				<input type="text" name="minHeight" th:value="${activity.minHeightCm}" th:field="*{minHeightCm}">

				<p>Pris</p>
				<input type="text" name="price" th:value="${activity.price}" th:field="*{price}">

				<br><br>
				<input type="submit" value="Rediger">
			</form> 

		</div>

	</div>
	
</body>
<style th:include="fragments/adminStyle :: style"></style>
</html>