<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Aktiviteter</title>
</head>
<body>
	
	<div class="wrapper">

		<div th:include="fragments/pageStyle :: nav_top"></div>
		
		<div class="content">
			<div class="picture left"></div>
			<div class="activityname left"></div>
			<div class="details left"></div>
			<div class="booking left"></div>
			
		</div>

	</div>
	
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>