<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aktiviteter</title>
	<link rel="stylesheet" href="fragments/style.css">
</head>
<body>
	
	<div class="wrapper">

		<nav>
			<ul>
				<li><a class="active" href="index.html">Home</a></li>
				<li><a href="activities.html">Activities</a></li>
				<li style="float: right;"><a href="admin/admin.html">Admin</a></li>
			</ul>
		</nav>
		
		<div class="content">
			<div class="picture left"></div>
			<div class="activityname left"></div>
			<div class="details left"></div>
			<div class="booking left"></div>
			
		</div>

	</div>
	
</body>
</html>