<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Aktiviteter</title>
</head>
<body>
	
	<div class="wrapper">

		<div th:include="fragments/pageStyle :: nav_top"></div>
		
		<div class="content">

			<div class="picture left"></div>
			<div class="activityname left" th:text="${activity.name}"></div>
			<div class="details left">
                <div class="grid-container" style="grid-template-columns: 120px auto">

                <label>Navn: </label>
                <label th:text="${activity.name}"></label>

                <label>Varighed: </label>
                <label th:text="${activity.duration}" ></label>

                <label>Minimumsalder: </label>
                <label th:text="${activity.minAge}"></label>

                <label>Minimumshøjde: </label>
                <label th:text="${activity.minHeightCm}"></label>

                <label>Pris: </label>
                <label th:text="${'kr. ' + activity.price}"></label>
            </div>
			</div>
			<div class="booking left"><a th:href="${'/Booking/' + activity.id}"></a></div>
			
		</div>

	</div>
	
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>