<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Aktiviteter</title>
</head>
<body>
	
	<div class="wrapper">

		<div th:include="fragments/pageStyle :: nav_top"></div>
		
		<div class="content">
			<h1>Aktiviteter</h1>
			
			<table class="activities">
				<tr>
					<th>Aktivitet</th>
					<th>Pris</th>
					<th>Varighed</th>
					<th>Bookning</th>
				</tr>
				<tr th:each="activity : ${activities}">
					<td><a th:href="${'/activity/' + activity.id}" th:text="${activity.name}"></a></td>
					<td th:text="${activity.price}"></td>
					<td th:text="${activity.duration}"></td>
					<td><a th:href="${'/Book/' + activity.id}">Book</a></td>
				</tr>
			</table>
		</div>

	</div>
	
</body>
<style th:include="fragments/pageStyle :: style"></style>
</html>